@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<img src="~/Content/img/debug.jpg" alt="Nancy logo"/>
<br/>
<br />
<div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-success" href="/debug/login">Authenticated</a>
    <a class="btn btn-primary" href="/debug/admin">Admin</a>
    <a class="btn btn-danger" href="/debug/logout">Not Authenticated</a>
</div>